input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  width: 40% !important;
}

#transfer-from-amount, #transfer-to-amount {
  width: 40% !important;
}